* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url(../font/Montserrat-Regular.woff2) format('woff2'),
        /* Super Modern Browsers */
        url(../font/Montserrat-Regular.woff) format('woff');
    /* Modern Browsers */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url(../font/Montserrat-SemiBold.woff2),
        /* Super Modern Browsers */
        url(../font/Montserrat-SemiBold.woff) format('woff');
    /* Modern Browsers */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url(../font/Montserrat-Bold.woff2),
        /* Super Modern Browsers */
        url(../font/Montserrat-Bold.woff) format('woff');
    /* Modern Browsers */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url(../font/Montserrat-ExtraBold.woff2) format('woff2'),
        /* Super Modern Browsers */
        url(../font/Montserrat-ExtraBold.woff) format('woff');
    /* Modern Browsers */
}


html {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: #fff;
    padding-left: auto;
    padding-right: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

/* ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
} */
body {
    background-image: url(/img/Rectangle\ 1\(1\)\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    max-width: 100%;
    padding: 0 10px 10px 10px;
}




.div__header {
    background-image: url(/img/klipartz.com\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    width: 100%;
    display: inline-flex;
    padding: 100px 0;
    justify-content: center;
    margin-bottom: 10px;
}

.h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 1;
    max-width: 800px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: rgb(136, 125, 125) 1px 0 10px;
    opacity: 0.8;
}

.main__div {
    display: flex;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.main__div__form-person {
    display: flex;
    flex: 1 1 50%;
}

.img__person {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: #fff solid 6px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.form-person__text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-person__others {
    border: none;
}

td {
    vertical-align: text-top;
}

.svg-icon {
    margin-right: 5px;
    height: 25px;
    width: 25px;
    transform: translateY(3px);
}

.form-person__name {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-shadow: rgb(19, 18, 18) 5px 0 10px;
}

.txt {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    color: rgb(212, 211, 211);
}

.btn-more {
    display: none;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', 'Roboto', serif;
    text-shadow: rgb(19, 18, 18) 5px 0 10px;
    cursor: pointer;
    width: 150px;
    margin-left: 10px;
}

.svg-btn {
    transform: translateY(2px);
}

.main__div__form-beer {
    display: flex;
    flex: 1 1 50%;
}

.form-beer__img-div {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: #fff 6px solid;
    border-bottom: #fff 6px solid;
    border-left: #fff 6px solid;
    flex: 1 1 30%;
}

.form-beer__img {
    width: 120%;
    height: auto;
    transform: translateX(-17%);
    filter: grayscale(0.3);
}

.form-beer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    flex: 1 1 70%;
    border: #fff solid 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.beertoday-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-beer__beertoday {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
    margin-left: 5px;
}

.row {
    display: flex;
}

.left-column {
    display: flex;
    flex: 1 1 50%
}

.right-column {
    display: inline-block;
    flex: 1 1 50%
}

@media (prefers-color-scheme: dark) {
    .div__header {
        opacity: 1;
    }
    .h1 {
        color: rgb(2, 2, 2);
        opacity: 1;
    }

    .txt {
        color: #fff;
    }

}




@media (max-width:1800px) {
    .main__div__form-person {
        flex: 1 1 50%;
    }

    .form-beer__img-div {
        flex: 1 1 50%;
    }

    .h1 {
        font-size: 60px;
        max-width: 800px;
    }

    .div__header {
        padding: 80px 0;
    }

    .img__person {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:1400px) {

    .form-beer__beertoday,
    .form-person__name {
        font-size: 30px;
    }

    .h1 {
        font-size: 40px;
        max-width: 600px;
    }

    .div__header {
        padding: 60px 0;
    }

    .txt {
        font-size: 20px;
    }

    .form-person__text {
        width: 50%;
    }

    .svg-icon {
        height: 20px;
        width: 20px;
    }
}


@media (max-width:1100px) {
    .main__div {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    .main__div__form-person {
        margin-bottom: 20px;
        flex: 1 1 100%;
    }

    .main__div__form-beer {
        flex: 1 1 100%;
    }

    .main__div__form-beer {
        flex: 1 1 20%;
    }

    .form-beer__text {
        flex: 1 1 80%;
        height: auto;
    }


}

@media (max-width:680px) {
    .main__div {
        padding-right: 30px;
        padding-left: 30px;
    }

    .h1 {
        font-size: 30px;
        max-width: 400px;
    }

    .div__header {
        padding: 40px 0;
    }

    .img__person {
        width: 150px;
        height: 150px;
    }

    .form-person__name,
    .form-beer__beertoday {
        font-size: 25px;
    }


    .hidden {
        display: none;
    }

    .btn-more {
        display: block;
        margin-left: 5px;
    }
}

@media (max-width:550px) {
    .main__div {
        padding-right: 15px;
        padding-left: 15px;
    }

    .h1 {
        font-size: 25px;
        max-width: 300px;
    }

    .div__header {
        padding: 35px 0;
    }

    .form-person__name,
    .form-beer__beertoday {
        font-size: 20px;
    }

    .txt {
        font-size: 15px;
    }

    .svg-icon {
        height: 15px;
        width: 15px;

    }
}

@media (max-width:500px) {
    .img__person {
        height: 100px;
        width: 100px;
        border: #fff solid 2px;
    }

    .form-person__text {
        width: 80%;
    }


    .main__div__form-beer {
        flex-direction: column;
    }

    .form-beer__img-div {
        width: 50%;
        align-self: center;
        border: #fff solid 3px;
        margin-bottom: 10px;
    }

    .form-beer__text {
        flex-wrap: 1 1 90%;
        border: #fff solid 1px;
        padding: 10px;
    }

    .txt {
        padding: 5px;
    }
}